body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 1%;
    background-color: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 1%;
    margin: 1% 0 1% 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 1%;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 2% 5%;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.btn:hover {
    opacity: 1;
}

a {
    text-decoration: none;
    color: #4d9daf;
}

.signin {
    background-color: #f1f1f1;
    background-image: url("../AUTO-SALESDOTCOM.svg");
    text-align: center;
    height: 100px;
    color: white;
}

#signIn {
    float: right;
}

.searchContainer {
    display: flex;
    max-width: 86%;
    margin: 0 auto;
}

.searchContainer>form {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.searchBlock {
    padding-right: 10px;
}

.clearfix {
    clear: both;
}